/* ---- Global Styles ---- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow: hidden;
}

section {
    padding: 0 32px;
}


.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

button {
    cursor:pointer;
    border: none;
}

/* NAVIGATION BAR */

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}


.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__container {
    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 450ms ease;
}

.nav__link:after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 450ms ease;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 450ms ease;
}

.nav__link--primary:after {
    content:"";
    width: 0;
    height: 0;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
    color: white;
}

.login {
    margin-left: 48px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 450ms ease;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color:#1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 500px;
    border: none;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 450ms ease;
    cursor: pointer;
}


