/* ---- Global Styles ---- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

p {
    line-height: 1.5;
}

a {
    display:inline;
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.no-cursor {
    cursor: not-allowed;
}

.purple {
    color: #6415ff;
}

/* NAVIGATION BAR */

nav {
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
}

.nav__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 450ms ease;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 450ms ease;
    opacity: 0;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 450ms ease;
}

.nav__link--primary:after {
    content:"";
    width: 0;
    height: 0;
}

.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 450ms ease;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229,231,235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 450ms ease;
}